.bg-mydark {
    background-color: #3385ff;
}
#opt:hover {
    background-color: #1066 ;
}
#opt {
    color: white ;
    text-decoration:none;
}
#row{
    margin:0;
    margin-left:2vw;
    align-items: center;
}
img{
    margin-top:5%;
    margin-bottom:5%;
}
img{
    margin-left:10%;
    margin-right:10%;
}
#opt{
    padding-right: 1%;
}
#logo {
    margin:0%;
}
.navbar{
    padding:0;
    align-items:center;
}
.active{
    font-weight: 500;
}
