.bg-mydark {
    background-color: #3385ff;
}
#opt:hover {
    background-color: #1066 ;
}
#opt {
    color: white ;
    text-decoration:none;
}
#row{
    margin:0;
    margin-left:2vw;
    align-items: center;
}
img{
    margin-top:5%;
    margin-bottom:5%;
}
@media only screen and (min-width: 600px) {
    img{
        margin-left:10%;
        margin-right:10%;
    }
    #opt{
        padding-right: 1%;
    }
    #logo {
        margin:0%;
    }
}
@media only screen and (min-width: 900px) {
    img{
        margin-left:20%;
        margin-right:20%;
    }
    #opt{
        padding-right: 0;
    }
    #logo {
        margin:0%;
    }
}
.navbar{
    padding:0;
    align-items:center;
}
.active{
    font-weight: 500;
}
